body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.premium-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 900;
  color: hsl(var(--foreground));
}

.body-copy {
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(var(--foreground));
  font-weight: 500;
}
